<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
">
    <!--описание бинов определительной части сервиса-->
    <bean id="prserManager" class="com.segvek.taskmanager.service.impl.ParserManagerImpl" scope="singleton"/>
    <bean id="managerFunctions" class="com.segvek.taskmanager.service.impl.ManagerFunctionsImpl" scope="singleton"/>
    <bean id="globalParser" class="com.segvek.taskmanager.service.impl.GlobalParserImpl" scope="prototype"/>
    
    <!--описание бинов касающие взаимойствия с БД-->
    <bean id="DaoFactory" class="com.segvek.taskmanager.service.orm.DaoFactory"/>
    
    <!--описание бинов доступа публичных функций-->
    <bean id="managersFunction" class="java.util.HashSet" scope="singleton">
        <constructor-arg>
            <set>
                <bean class="com.segvek.taskmanager.service.functions.functionTest.TestFunctionManager" scope="singleton"/>
                <bean class="com.segvek.taskmanager.service.functions.functionAuthorization.AuthorizationFunctionManager" scope="singleton"/>
            </set>
        </constructor-arg>
    </bean>
    
    <!--описание бинов касающих сессионного механизма-->
    <bean id="sessionManager" class="com.segvek.taskmanager.service.session.impl.SessionManagerImpl" scope="singleton"/>
    <bean id="session" class="com.segvek.taskmanager.service.session.impl.SessionImpl" scope="prototype"/>

    <!---->
    <!---->
    <!---->
</beans>
